@model TestTcc2.Models.Musica

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Musica</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.GeneroId, "genero")
        </div>
        <div class="editor-field">
            @Html.DropDownList("GeneroId", String.Empty)
            @Html.ValidationMessageFor(model => model.GeneroId)
        </div>
        @*
        <div class="editor-label">
            @Html.LabelFor(model => model.UserId)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.UserId)
            @Html.ValidationMessageFor(model => model.UserId)
        </div>*@

        <div class="editor-label">
            @Html.LabelFor(model => model.Nome)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Nome)
            @Html.ValidationMessageFor(model => model.Nome)
        </div>
        @*
        <div class="editor-label">
            @Html.LabelFor(model => model.NomeArtista)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.NomeArtista)
            @Html.ValidationMessageFor(model => model.NomeArtista)
        </div>
        *@
        <div class="editor-label">
            @Html.LabelFor(model => model.Preco)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Preco, new { id = "preco"})
            @Html.ValidationMessageFor(model => model.Preco)
            
            @Html.CheckBoxFor(model => model.isFree, new { id = "isFree"})
            @Html.Label("Gratis")
           
        </div>

    <div>
        Upload
        <input type="file" name="file_upload" id="file_upload" />
        @Html.LabelFor(model => model.path, new {id="path" })
    </div>
    <div id="uploaded">
    </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

<!-- colocar em um arquivo e chamar aqui -->

