@model TestTcc2.Models.Musica

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutMusico.cshtml";
}
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/Uploadify/uploadify.css")" />
<style type="text/css">
    #path {
        display:none;
    }

    #upload {
        display:inline-block;
        margin-bottom:5px;
        font-weight:bold;
    }

</style>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.uploadify.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.uploadify.min.js")"></script>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
 
    <fieldset>
        <legend>Preencha os campos para cadastrar sua música.</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.GeneroId, "genero")
        </div>
        <div class="editor-field">
            @Html.DropDownList("GeneroId", String.Empty)
            @Html.ValidationMessageFor(model => model.GeneroId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Nome)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Nome)
            @Html.ValidationMessageFor(model => model.Nome)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Preco)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Preco, new { id = "preco"})
            @Html.ValidationMessageFor(model => model.Preco)
            
            @Html.CheckBoxFor(model => model.isFree, new { id = "isFree"})
            @Html.Label("Gratis")
           
        </div>

    <div>
        <p id="upload">Upload</p>
        <input type="file" name="file_upload" id="file_upload" />
        @Html.EditorFor(model => model.path, new {id="path"})
    </div>

    </fieldset>

    <div class="row">
        <div class="col-lg-6">
         <p>
          <input type="submit" value="Create" class="btn btn-default" />
         </p>
        </div>
        <div class="col-lg-6">
            @Html.ActionLink("Voltar para suas músicas", "Index")
        </div>  
</div>
}

<script type="text/javascript">
        $(document).ready(function () {
            $("#isFree").change(function () {
                if ($("#isFree").prop("checked")) {
                    $("#Preco").prop("disabled", "disabled");
                } else {
                    $("#Preco").prop("disabled", "");
                }
            });
        });
        $(function () {
            $('#file_upload').uploadify({
                'swf': "@Url.Content("~/Scripts/uploadify.swf")",
                'cancelImg': "@Url.Content("~/Content/Uploadify/uploadify-cancel.png")",
                'uploader': "@Url.Action("Upload", "Music")",
                'onUploadSuccess': function (file, data, response) {
                    $("#path").val(data);
                }
            });
        });
</script>