@model IEnumerable<TestTcc2.Models.Musica>

<div>@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutMusico.cshtml";
}
</div>
<script src="Content/audiojs/audio.min.js"></script>
<div  id="divAudio">
   
    <audio id="audioPlay" src=x preload="auto" onplay="true"/>
    <script>
        audiojs.events.ready(function () {
            var as = audiojs.createAll({
                autoplay: true,
                autoload: "none"
            });

        });

        function replaceAll(str, de, para) {
            var pos = str.indexOf(de);
            while (pos > -1) {
                str = str.replace(de, para);
                pos = str.indexOf(de);
            }
            return (str);
        }

        function getUrlParameter(sParam) {
            var sPageURL = window.location.search.substring(1);
            var sURLVariables = sPageURL.split('&');
            for (var i = 0; i < sURLVariables.length; i++) {
                var sParameterName = sURLVariables[i].split('=');
                if (sParameterName[0] == sParam) {
                    var rep = replaceAll(sParameterName[1], "%2F", "/");
                    rep = replaceAll(rep, "%20", " ");
                    return rep;
                }
            }
        }
        var x = getUrlParameter('path');
        $('#audioPlay').attr('src', x);
</script>   
</div>
<p>
    @Html.ActionLink("Create New", "Create")
</p>

<table class="table table-hover table-bordered">
    <tr>
        <th>
            <span>Genero</span>
        </th>
        
        <th>
            <span>Nome</span>
        </th>
        <th>
            <span>Artista</span>
        </th>
        <th>
            <span>Preço</span>
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    if (item.UserId == Int32.Parse(Membership.GetUser().ProviderUserKey.ToString()))
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.genero.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NomeArtista)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Preco)
        </td>
        <td>
            @Html.ActionLink("Play", "", new { path = item.path }) |
            @Html.ActionLink("Edit", "Edit", new { id=item.MusicaId }) |
            @Html.ActionLink("Download", "Download", new { path = item.path }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MusicaId })
        </td>
    </tr>
}
}

</table>
