@model IEnumerable<TestTcc2.Models.Musica>

<div>@{
    ViewBag.Title = "Index";
}
</div>
<div>
    <script src="Content/audiojs/audio.min.js"></script>

    <audio src="/mp3/teste.mp3" preload="auto" />
<script>
    audiojs.events.ready(function () {
        var as = audiojs.createAll();
        
    });
</script>
</div>
<p>
    @Html.ActionLink("Create New", "Create")
</p>

<table>
    <tr>
        <th>
            <span>Genero</span>
        </th>
        
        <th>
            <span>Nome</span>
        </th>
        <th>
            <span>Artista</span>
        </th>
        <th>
            <span>Preço</span>
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    if (item.UserId == Int32.Parse(Membership.GetUser().ProviderUserKey.ToString()))
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.genero.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NomeArtista)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Preco)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MusicaId }) |
            @Html.ActionLink("Details", "Details", new { id=item.MusicaId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MusicaId })
        </td>
    </tr>
}
}

</table>
