@model IEnumerable<TestTcc2.Models.UsuarioMusica>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutOuvinte.cshtml";

}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UserId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MusicaId)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.UserId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MusicaId)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.UsuarioMusicaId }) |
            @Html.ActionLink("Details", "Details", new { id=item.UsuarioMusicaId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.UsuarioMusicaId })
        </td>
    </tr>
}

</table>
