@model IEnumerable<TestTcc2.Models.UsuarioMusica>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutOuvinte.cshtml";
}
<h2>Index</h2>

<table class="table table-hover table-bordered">
    <tr>
        <th>
            <span>Genero</span>
        </th>
        
        <th>
            <span>Nome</span>
        </th>
        <th>
            <span>Artista</span>
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.genero.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NomeArtista)
        <td>
            @Html.ActionLink("Play", "", new { path = item.path }) |
            @Html.ActionLink("Download", "Download", new { path = item.path }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.UsuarioMusicaId })
        </td>
    </tr>

}

</table>
