@model TestTcc2.Models.LocalPasswordModel

@using (Html.BeginForm("Manage", "Account")) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <form class="form-horizontal">
<fieldset>

<!-- Form Name -->
<legend>Formulário de Troca de Senha</legend>

<!-- Password input-->
<div class="form-group col-lg-3">
<div class="control-group">
  @Html.LabelFor(m => m.OldPassword, new {@class="control-label"} )
  <div class="controls">
    @Html.PasswordFor(m => m.OldPassword, new {@class="form-control", @placeholder="Digite sua senha antiga"})
  </div>
</div>

<!-- Password input-->
<div class="control-group">
    @Html.LabelFor(m => m.NewPassword,new {@class="control-label"})
  <div class="controls">
    @Html.PasswordFor(m => m.NewPassword, new {@class="form-control", @placeholder="Digite sua senha nova"})
  </div>
</div>

<!-- Password input-->
<div class="control-group">
    @Html.LabelFor(m => m.ConfirmPassword,new {@class="control-label"})
  <div class="controls">
    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", @placeholder = "Confirme sua nova senha" })
  </div>
</div>
    <br />
    <input type="submit" value="Trocar Senha" class="btn btn-default" />
    </div>
</fieldset>
</form>
}
