@model TestTcc2.Models.RegisterModel
@{
    ViewBag.Title = "Cadastro";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <style>
        body {
            padding-top: 60px;
        }
    </style>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <div id="signupbox" style=" margin-top: 50px" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">

        <div class="panel panel-info">
            <div class="panel-heading">
                <div class="panel-title">Cadastro</div>
                <div style="float: right; font-size: 85%; position: relative; top: -10px">
                    <!--<a id="signinlink" href="#" onclick="$('#signupbox').hide(); $('#loginbox').show()">Sign In</a>-->
                </div>
            </div>
            <div class="panel-body">
                <form id="signupform" class="form-horizontal" role="form">

                    <div id="signupalert" style="display: none" class="alert alert-danger">
                        <p>Error:</p>
                        <span></span>
                    </div>

                    <div class="form-group">
                        <label for="email" class="col-md-4 text-right control-label">Usuário</label>
                        <div class="col-md-8 text-left">

                            @Html.TextBoxFor(m => m.UserName)
                            @Html.ValidationMessageFor(m => m.UserName)
                        </div>
                    </div>
                    <br />
                    <div class="form-group">
                        <label for="password" class="col-md-4 text-right control-label">Senha</label>
                        <div class="col-md-8 text-left">
                            @Html.PasswordFor(m => m.Password)
                            @Html.ValidationMessageFor(m => m.Password)
                        </div>
                    </div>
                    <br />
                    <div class="form-group">
                        <label for="icode" class="col-md-4 text-right control-label">Confirme sua senha</label>
                        <div class="col-md-8 text-left">
                            @Html.PasswordFor(m => m.ConfirmPassword)
                            @Html.ValidationMessageFor(m => m.ConfirmPassword)
                        </div>
                    </div>
                    <br />
                    
                    <div class="form-group">
                        <label for="icode" class="col-md-4 text-right control-label">Tipo de usuário</label>
                        <div class="col-md-8 text-left">
                            @Html.RadioButtonFor(m => m.UserType, "Ouvinte", new { id = "Ouvinte" })
                            @Html.Label("Ouvinte")
                            @Html.RadioButtonFor(m=>m.UserType, "Musico", new { id= "Musico" })
                            @Html.Label("Musico")
                        </div>
                    </div>
                    <br />
                    <div class="form-group">
                        <!-- Button -->
                        <div class="col-md-offset-3 col-md-9">
                            <input type="submit" value="Registre-se" />
                            <span style="margin-left: 8px;">ou</span>
                        </div>
                    </div>
                </form>
                    @Html.Action("ExternalLoginsList", new { ReturnUrl = ViewBag.ReturnUrl })
            </div>
        </div>
    </div>


}

