<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/Bootstrap")
    @Scripts.Render("~/bundles/jquery")
    <style>
        body {
            padding-top: 60px;
        }
    </style>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">@Html.ActionLink("your logo here", "IndexMusico", "Home")</a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "IndexMusico", "Home")</li>
                    <li>@Html.ActionLink("Suas Músicas", "Index", "Music")</li>
                    
                </ul>
                <ul class="nav navbar-nav navbar-right">
                        <li>@Html.ActionLink("Manage Account", "Manage", "Account")</li>
                        <li>@using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
                            {
                            @Html.AntiForgeryToken()
                            <a href="javascript:document.getElementById('logoutForm').submit()">Log off</a>}</li>
                </ul>
            </div>
        </div>
    </div>


    <div class="container">

        @RenderSection("featured", required: false)
        @RenderBody()

    </div>
    <!--Fim container -->

    <div class="footer navbar-fixed-bottom">
        <div class="container">
            <p class="text-muted">@DateTime.Now.Year , by: <a href="https://www.linkedin.com/in/pedrohenrique1">Pedro Henrique</a></p>
        </div>
    </div>
    
</body>
</html>
