<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - My ASP.NET MVC Application</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/Bootstrap")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Styles.Render("~/Content/empty"); 

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">@Html.ActionLink("your logo here", "Index", "Home")</a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="#home">Home</a>
                    </li>
                    <li><a href="#musico">Musicos</a>
                    </li>
                    <li><a href="#ouvinte">Ouvintes</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                        <li>@Html.ActionLink("Register", "Register", "Account")</li>
                        <li>@Html.ActionLink("Log In", "Login", "Account")</li>
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </div>
    <div class="container">
        @RenderSection("featured", required: false)
        @RenderBody()
    </div>
    <!--Fim container -->
    <div class="footer navbar-fixed-bottom">
        <div class="container">
            <p class="text-muted">@DateTime.Now.Year , by: <a href="https://www.linkedin.com/in/pedrohenrique1">Pedro Henrique</a></p>
        </div>
    </div>
</body>
</html>
