<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/Bootstrap")
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/Uploadify/uploadify.css")" />
    @Scripts.Render("~/bundles/jquery")
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.uploadify.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.uploadify.min.js")"></script>
    <style>
        body {
            padding-top: 60px;
        }
    </style>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                </button>
                <a class="navbar-brand" href="#">@Html.ActionLink("Logo","Index","UsuarioMusica")</a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Minhas Músicas","Index","UsuarioMusica")</li>
                </ul>
                 @using (Html.BeginForm("Search", "ShoppingCart",null, FormMethod.Post, new { @class ="navbar-form" , role="search"}))
                    {
                     <div class="input-group row col-lg-6">
						@Html.TextBox("search",null, new { @class="form-control pull-right",@style="width: 300px; margin-right: 35px, border: 1px solid black; background-color: #e5e5e5;" ,@placeholder="Buscar músicas" })
						<span class="input-group-btn">
							<button type="reset" class="btn btn-default">
								<span class="glyphicon glyphicon-remove">
									<span class="sr-only">Close</span>
								</span>
							</button>
							<button type="submit" class="btn btn-default" value="search">
								<span class="glyphicon glyphicon-search">
									<span class="sr-only">Search</span>
								</span>
							</button>
						</span>
                    </div>
                 }     
                <ul class="nav navbar-nav navbar-right">
                        <li>@{Html.RenderAction("CartSummary", "ShoppingCart");}</li>
                        <li>@Html.ActionLink("Gerenciar Conta", "Manage", "Account")</li>
                        <li>@using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
                            {
                            @Html.AntiForgeryToken()
                            <a href="javascript:document.getElementById('logoutForm').submit()">Log off</a>}</li>
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>

    </div>


    <div class="container">

        @RenderSection("featured", required: false)
        @RenderSection("scripts", required: false)
        @RenderBody()

    </div>
    <!--Fim container -->

    <div class="footer navbar-fixed-bottom">
        <div class="container">
            <p class="text-muted">@DateTime.Now.Year , by: <a href="https://www.linkedin.com/in/pedrohenrique1">Pedro Henrique</a></p>
        </div>
    </div>
</body>
</html>
